*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(138, 113, 185);
    display: flex;
    align-items: center;
    justify-content: center;
}
#left, #right{
    width: 300px;
    height: 400px;
    margin: 20px;
    border: 5px dashed #fff;
}
.list{
    background: rgb(167, 76, 76);
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
}
 .list img{
    height: 35px;
border: 2px;
padding: 9px;
margin: 9px;
}